main{
  height: 100vh;
  background-color: rgb(196, 255, 219);
  height: vh100;
}
.list-group-item {
  line-height: 0.5;
  border: none;
}
.card-body {
  flex: auto;
}
header {
    display: flex;
    justify-content: center;
}
.search-btn, .form-input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}
.search-btn{
  background-color: lightblue;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}
.past-search-btn{
    margin-top: 6px;
    border-radius: 5px;
    width: 90%;
}

#current-forecast{
  margin: 5px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
}
.text-container{
  margin: 18px;
  height: 50px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}